body{
	background:#202020;
	color:#FFFFFF;
	font-family:monospace;
	text-align:center;
	user-select:none;
    margin-top:25vh;
}

input[type="radio"], input[type="checkbox"]{
	vertical-align:middle;
}

input[type="number"]{
	width:5em;
}

.mode{
    float:left;
    width:25%;
}

ol, ul{
	text-align:left;
}

.off, .armed, .active, .error{
	height:2em;
}
.off{background:#FFFFFF;}
.active{background:#00C000;}
.armed{background:#FF8000;}
.error{background:#FF0000;}