body{
	background:#202020;
	color:#FFFFFF;
	font-family:monospace;
	text-align:center;
	user-select:none;
    margin-top:25vh;
}

input[type="radio"], input[type="checkbox"]{
	vertical-align:text-top;
}

.mode{
    float:left;
    width:33%;
}

.off, .armed, .active{
	height:2em;
}
.off{background:#FFFFFF;}
.armed{background:#FF8000;}
.active{background:#00C000;}